<div class="container" style="margin-left:15%;">
      <div class="row">
        <div class="col-sm-4">
            <button type="button" class="gameButton align-middle">
                Yeah
              </button>
        </div>
        <div class="col-sm-4">
            <button type="button" class="gameButton align-middle">
                Yeah
              </button>
        </div>
        <div class="col-sm-4">
            <button type="button" class="gameButton align-middle">
                Yeah
              </button>
        </div>
      </div>
</div>
