@import url(//undertalefonts.duodecima.technology/webfonts/stylesheet.css);

p,h1 {
  font-family:'Determination Mono', sans-serif;
  font-size: 28px;
}
.eye1 {
  color:green;
}
.eye2 {
  color:purple;
}
.screen {
  background-color: black;
  color: white;
  width:800px;
  height:100%;
}

.story_image {
  display:block;
  margin-left: auto;
  margin-right: auto;
}

.gameButton {
  font-family:'Determination Mono', sans-serif;
  font-size: 30pt;
  text-shadow: 1px 1px #494949, -1px -1px #232323;
  background-color: #1e1e1d;
  color:grey;
}

button {
  margin-right:15px;
  box-shadow: 5px 10px #845c2b;
}
