@import url(//undertalefonts.duodecima.technology/webfonts/stylesheet.css);

p,h1 {
  font-family:'Determination Mono', sans-serif;
  font-size: 28px;
}

.screen {
  background-color: black;
  color: white;
  width:800px;
  height:500px;
}

.story_image {
  display:block;
  margin-left: auto;
  margin-right: auto;
}